/* @import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap"); */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}
.heading {
  /* background-color: gold; */
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  border-bottom: 0.7px solid #39393c;
  margin-bottom: 30px;
}

.loader {
  position: fixed;
  top: 40%;
  left: 48%;
  height: 50px;
  width: 50px;
  border: 5px solid #bbb;
  border-radius: 50%;
  border-right: 5px solid rgb(19, 160, 247);
  animation: load 1.5s ease infinite;
}

.row {
  display: flex;
  justify-content: center;
}

.row > div {
  background-color: black;
  display: block;
  height: 60px;
  width: 60px;
  border: 2px solid #39393c;
  margin: 2px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
}

@keyframes load {
  100% {
    transform: rotateZ(360deg);
  }
}
